{% extends 'base_page.html' %}
{% block title %}{{ wb_user.name }}{% endblock %}
{% block right %}
<div class="jumbotron">
  <h1>{{ wb_user.name }} 的主页</h1>
  <p>个性签名...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">修改资料</a></p>
</div>
{% for wb in wbs %}
<div class="panel panel-default container-fluid">
	<div class="panel-heading row">
		<span class='col-sm-5'>作者: {{ wb.text.author }}</span>
		<span class='col-sm-5'>时间: {{ wb.time_create }}</span>
		<span class='col-sm-1 text-right'>点赞: 0</span>
		<span class='col-sm-1 text-right'><a onclick='comm_this(this, {{ wb.id }})'>评论: 0</a></span>
	</div>
	<div class="panel-body">
		<p>{{ wb.text.msg }}</p>
		{% for comm in wb.comments.all %}
			<div class="panel panel-default container-fluid">{% include "weibo\new_comm.html" %}</div>
		{% endfor %}
	</div>
</div>
{% endfor %}
{% endblock %}
{% block script %}
<script>
function comm_cancel(e){
	// 取消评论
	var comm = e.parentElement.parentElement.parentElement;
	comm.parentElement.removeChild(comm);
};

function comm_this(e, wid){
	// 向表格填入 weibo.id
	var ee = e.parentElement.parentElement.nextElementSibling,
		dd = document.createElement('div');
	dd.setAttribute('class', 'panel panel-default container-fluid');
	dd.innerHTML = `\
		<div class="panel-heading row">\
			<span class="col-sm-1">评论：</span>\
			<span class="col-sm-1 pull-right"><input class="btn btn-success" type="submit" form="comm_form" onclick="comm_post(this)" value='发送'></span>\
			<span class="col-sm-1 pull-right"><a class="btn btn-danger" onclick="comm_cancel(this)">取消</a></span>\
		</div>\
		<div class="panel-body">\
			<form id="comm_form" method="POST" action="{% url "wb:comment" %}">\
				{% csrf_token %}\
				<textarea name="msg" class="form-control" placeholder="上限500字符" rows=8 maxlength=500></textarea>\
				<input class="hidden" name="wid" value="` + wid + `">\
			</form>\
		</div>`
	ee.appendChild(dd);
};

function comm_post(ee){
	// 发送评论
	document.getElementById('comm_form').onsubmit = function(e){
		e.preventDefault();
		var f = e.target,
			formData = new FormData(f),
			xhr = new XMLHttpRequest();
		xhr.open("POST", f.action, true);
		xhr.onreadystatechange=function(){
			if(xhr.readyState == 4 && xhr.status == 200){
				var dataReply = xhr.responseText,
					para = ee.parentElement.parentElement.parentElement,
					newBox = document.createElement('div');
				para.innerHTML = dataReply;
			};
		};
		xhr.send(formData);
	};
};
</script>
{% endblock %}